
.cssHeight{
    width: 100%;
    height: calc(100% - 240px) !important;
    // height:400px;
    position: fixed;
    top: 55px !important;
    overflow-y: scroll;
}
// row 1
.cssProduct{
    height: 130px !important;
    width: 100%;
    border-bottom: 1px solid #F0344C;
    display: flex;
    align-items: center;
    
    // animation: fadeInTopLeft; 
    // animation-duration: 2s; 
}
.cssProduct .cssImg{
    width: 110px;
    height: 110px;
    border-radius: 4px;
    margin-right: 20px;
}
.cssProduct .cssImg img{
    width: 100%;
    height: auto;
}
.cssInfos {
    margin-right: 20px;
}
.cssInfos p{
    margin: 6px;
    color: #964A4A;
}
.cssInfos .cssLibel{
    font-size: 17px;
    margin-left: 10px;
}
.cssInfos .cssValue{
    font-size: 16px;
}

// row 2
.cssSomme{
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAE7E7;
    // box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: #964A4A;
    position: fixed;
    bottom: 80px;
    z-index: 100000;
}
.cssS{
    height: 100px;
    width: 100%;
    padding: 0px 10px;
    background-color: #EAE7E7;
    color: #964A4A;
    position: fixed;
    bottom: 80px;
    z-index: 100000;
}
.cssS .cssSome{
    text-align: center;
    font-size: 19px;
    padding: 3px;
    border-bottom: 1px solid #fff;
}
.cssS .cssSomeValue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cssS p{
    margin-top: 5px !important;
    margin-bottom: 3px !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.cssS .cssValue{
    font-size: 19px;
}
.cssS .cssValue span{
    font-size: 14px;
    margin-right: 5px;
}
// row 3
ion-button{
    width: 80% !important;
    height: 50px;
    margin: 5px auto !important;
    --color: #fff;
    font-size: 22px;
    --background: #DC4E41 !important;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10%;
    z-index: 100000;
}


@media only screen and (max-width: 362px) {
    // --- row 1
    .cssProduct{
        height: 110px !important;
    }
    .cssProduct .cssImg{
        width: 100px;
        margin: 3px 0px;
    }

    .cssInfos {
        margin-right: 16px;
    }
    .cssInfos p{
        margin: 2px;
        color: #964A4A;
    }
    .cssInfos .cssLibel{
        font-size: 14px;
        margin-left: 10px;
    }
    .cssInfos .cssValue{
        font-size: 14px;
    }

    // --- row 2
    // row 2
    .cssSomme{
        height: 60px;
        font-size: 16px;
    }

    // row 3
    ion-button{
        width: 80% !important;
        height: 40px;
        font-size: 16px;
        --border-radius: 4px;
        position: fixed;
        bottom: 8px;
        left: 10%;
    }

    // --- somme
    .cssHeight{
        width: 100%;
        height: calc(100% - 205px) !important;
    }
    .cssS{
        height: 80px;
        position: fixed;
        bottom: 65px;
        z-index: 100000;
    }
    .cssS .cssSome{
        font-size: 16px;
    }
    .cssS p{
        margin-top: 0px !important;
        font-size: 12px;
        font-weight: 600;
    }
    .cssS .cssValue{
        font-size: 16px;
        font-weight: 700;
    }
    .cssS .cssValue span{
        font-size: 12px;
        font-weight: 600;
    }
}