
.cssLogo{
    width: 200px; height: auto;
    display: block;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 70px;
}

.cssBtn{
    height: 100px; width: 300px;
    margin: 20px auto;
    font-size: 30px;
    --background: #fff !important;
    border-radius: 10px;
}